body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Public Sans', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #212529;
    margin: auto;
}
.msgContainer{
    width: 90%;
    height: 83vh;
    background: #212529;
    padding-left: 2rem;
    padding-top: 1rem;
    display:inline-block;
}
.leftMsgBox{
    float: left;
    clear: both;
}
.rightMsgBox{
    float: right;
    clear: both;
}
.msgBox{
    width: fit-content;
    max-width: 20rem;
    height: fit-content;
    margin-top: 1rem;
}
.msgBody{
    background:#7269ef;
    color:#eff2f7;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    padding: 1px;
}
.newJoinedMsg .msgBody{
    background: tomato;
    width: 50vw;
    height: 1.5rem;
    clear: both;
    padding: 0;
    padding-left: 5px;
    margin-top: 1rem;
    font-weight: bolder;
    margin: auto;
    color: #eff2f7;
    text-align: center;
}
#new-joined-msg-username{
    color:#212529;
}
.inputContainer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid white;
}
#text-input{
    width: 90vh;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0.3rem;
    font-size:1.1rem;
    color: #eff2f7;
    background: #36404a;
    border: none;
    outline: none;
    font-family: 'Public Sans', sans-serif;
}
#submit-text{
    height: 3rem;
    width: 3rem;
    border-radius: 7px;
    cursor: pointer;
    background: #7269ef;
    color: #eff2f7;
    margin-left: 0.8rem;
}
.userLable{
    color: #eff2f7;
    font-size: 1rem;
}


.joinContainer{
    width: 100vw;
    height: 100vh;
    background: #36404a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.joinContainer div{
    margin-top: 1rem;
}
.joinButton{
    background: #7269ef;
    color: #eff2f7;
    width: fit-content;
    height: 2.2rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    border-color: transparent;
}
.joinButton a{
    text-decoration: none;
    color: #eff2f7;
}

.joinButton:hover{
    background:#212529;
    color: #eff2f7;
}
.input-text{
    background: transparent;
    border: 2px solid #7269ef;
    border-radius: 5px;
    height: 2rem;
    padding: 2px 10px;
    font-size: 1rem;
    color: #eff2f7;
}
.idContainer{
    width: 100vw;
    height: 2rem;
    background:#36404a;
    color: #eff2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Public Sans', sans-serif;
}
#id-text{
    padding-left: 10px;
    font-weight: bold;
}
.copy-btn{
    height:1.3rem;
    width: 3rem;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0.6rem;
}
.idContainer button{
    font-family: 'Public Sans', sans-serif;
    background: #212529;
    width: 3.5rem;
    color: white;
    font-size: 0.7rem;
}